<mat-toolbar color="primary">
  <span>Application Title</span>

  <!-- This fills the remaining space of the current row -->
  <span class="space"></span>

  <span class="menu-item" routerLink="/home" routerLinkActive="active">Home</span>
  <span class="menu-item" routerLink="/start" routerLinkActive="active">Getting started</span>
  <span class="menu-item" routerLink="/products" routerLinkActive="active" *ngIf="isLoggedIn()">Products</span>
  <span class="menu-item" routerLink="/login" routerLinkActive="active">Login</span>
</mat-toolbar>