.space {
    /* This fills the remaining space, by using flexbox. 
       Every toolbar row uses a flexbox row layout. */
    flex: 1 1 auto;
}

.menu-item {
    margin: 0 15px;
    cursor: pointer;
}

.menu-item:hover {
    font-weight: bolder;
}

.active {
    text-decoration: underline;
}